<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniuxy.springboot.mapper.EmpMapper">
	<select id="selectEmps" resultMap="empMapper">
		select * from emp e,dep d where e.did=d.did
	</select>
	<resultMap type="Emp" id="empMapper">
		<id column="eid"  property="eid"/>
		<result column="ename" property="ename" />
		<result column="jiondate" property="jiondate" />
		<association property="dep" javaType="Dep">
			<id column="did"  property="did"/>
			<result column="dname" property="dname"/>
		</association>
	</resultMap>
	
	<select id="selectDep" resultType="Dep">
		select * from Dep
	</select>
	<insert id="insertEmp">
		insert into emp value(#{eid},#{ename},#{jiondate},#{dep.did});
	</insert>
	<select id="selectEmpByEid" resultMap="empMapper" >
		select * from emp e,dep d where e.did=d.did and eid=#{eid};
	</select>
	<update id="updateEmp">
		update emp set ename=#{ename},jiondate=#{jiondate},did=#{dep.did};
	</update>
	<delete id="deleteEmpByEid">
		delete from emp where eid=#{eid};
	</delete>
</mapper>
